html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(Images/background-04.jpg);
    background-position: contain;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -150px;
    font-size: 18px;
}

nav {
    flex: 1;
    text-align: right;
}
nav, ul {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    transition: max-height 0.5s;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background-color: #000000;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}
nav ul li:hover::after {
    transform: scaleX(1);
}
.content {
    margin-top: 120px;
}
a {
    text-decoration: none;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
p {
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
li {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical;
  }

  #submit {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #submit:hover {
    background-color: #45a049;
  }
  
  .container-contact {
    border-radius: 5px;
    padding: 20px;
  }
  /*-------------------------Footer-------------------------*/

.footer {
    background-color: #000000;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px 0 20px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer p {
    color: #8a8a8a;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 30%;
    margin-top: 25px;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 150px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
.app-logo {
    margin-top: 25px;
    
}
.app-logo img {
    width: 150px;
}
.footer hr {
    border-style: dashed;
    margin: 20px 5px 0 0;
    
}
.copyright {
    text-align: center;
}