* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', serif;
  
}
body{
font-size: 14px;
background: url(Images/background.jpg);
background-size: cover no-repeat;
}
/*Header*/
header {
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 99;
background-color: #162938;
color: #fff;
text-align: center;
padding: 10px;    
}
/*Logo*/
.logo {
font-size: 2em;
color: #fff;
}
/*Naviguation Bar*/
.navigation a {
position: relative;
font-size: 1.1em;
color: #fff;
text-decoration: none;
font-weight: 500;
margin-left: 40px;
}

.navigation .btnLogin-popup {
width: 130px;
height: 50px;
background: transparent;    
border: 2px solid #fff;
outline: none;
border-radius: 6px;
cursor: pointer;
font-size: 1.1em;
color: #fff;
font-weight: 700;
margin-left: 40px;
transition: 0.5s;
}

.navigation .btnLogin-popup:hover {
background-color: #fff;
color: #162938;
}
table th, table td {
  border:  1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 20px;
  
}
table tr:nth-child(odd) {
  background-color: #6dd5ed;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

td{
  list-style: disc;
  padding-left: 30px;
  padding-top: 30px;
  line-height: 28px;
}
/*-------------------------Footer-------------------------*/

.footer {
  background-color: #000000;
  color: #8a8a8a;
  font-size: 15px;
  padding: 60px 0 20px;
}
.footer ul {
  list-style-type: none;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
  margin-top: 25px;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 150px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
.app-logo {
  margin-top: 25px;
  
}
.app-logo img {
  width: 150px;
}
.footer hr {
  border-style: dashed;
  margin: 20px 5px 0 0;
  
}
.copyright {
  text-align: center;
}
#submitOrder {
  border-radius: 5px;
  color: white;
  background-color: #ff523b;
  cursor: pointer;
  padding: 10px;
  margin:  20px;
}
#submitOrder:hover {
  background-color: #D14905;
}
