html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(Images/background-03.jpg);
    background-position: contain;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -150px;
    font-size: 18px;
}
.content {
  margin: 120px 200px;

}
nav {
    flex: 1;
    text-align: right;
}
nav {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    transition: max-height 0.5s;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  background-color:  #ADD8E6;
  transform: scaleX(0);
  transition: transform ease-in-out 0.5s;
}
nav ul li:hover::after {
  transform: scaleX(1);
}
a {
    text-decoration: none;
    color:  #ADD8E6;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
p {
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
li {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
table th, table td {
  border:  1px solid black;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 20px;
  
}
table tr:nth-child(odd) {
  background-color: #6dd5ed;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

td{
  list-style: disc;
  padding-left: 30px;
  padding-top: 30px;
  line-height: 28px;
}
/*-------------------------Footer-------------------------*/

.footer {
  background-color: #000000;
  color: #8a8a8a;
  font-size: 15px;
  padding: 60px 0 20px;
}
.footer ul {
  list-style-type: none;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer p {
  color: #8a8a8a;
}
.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col-1 {
  flex-basis: 30%;
  margin-top: 25px;
}
.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 150px;
  margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}
.app-logo {
  margin-top: 25px;
  
}
.app-logo img {
  width: 150px;
}
.footer hr {
  border-style: dashed;
  margin: 20px 5px 0 0;
  
}
.copyright {
  text-align: center;
}
#submitOrder {
  border-radius: 5px;
  color: white;
  background-color: #ff523b;
  cursor: pointer;
  padding: 10px;
  margin:  20px;
}
#submitOrder:hover {
  background-color: #D14905;
}
