html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(Images/background-02.jpg);
    background-position: contain;
}
.col-4 h4 {
    color: #FFFFE0;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: -150px;
    font-size: 18px;
}

nav {
    flex: 1;
    text-align: right;
}
nav, ul {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    transition: max-height 0.5s;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}
nav ul li::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #FFFFE0;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
}
nav ul li:hover::after {
    transform: scaleX(1);
}
.content {
    margin-top: 150px;
}
a {
    text-decoration: none;
    color: #FFFFE0;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
p {
    color:  #FFD700;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
li {
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.button {
    display: inline-flex;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color 0.5s;
}
.button:hover {
    background-color:  #D14905;
}

.header .row {
    margin-top: 70px;
}
.categories {
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    

}
.col-4 {
    flex-basis: 30%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    
}
.col-4 img {
    width: 100%;
    
}
.checked {
    color: orange;
  }
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #3C4142;
}
.title::after {
    content: "";
    background: #EF036C;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4 {
    color: #3C4142;
    font-weight: normal;
}
.col-4 p {
    font-size: 14px;
}

.col-4:hover {
    transform: translateY(-15px);
}
/* Deals */
.col-2 {
    margin: 10px 0;
    padding: 0 20px;
}
.deals {
    background-image: url(Images/background.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    margin-top: 80px;
    padding: 30px 0;
}
small {
    color: #000000;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

/*-------------------------Footer-------------------------*/

.footer {
    background-color: #000000;
    color: #8a8a8a;
    font-size: 15px;
    padding: 60px 0 20px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer p {
    color: #8a8a8a;
}
.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1 {
    flex-basis: 30%;
    margin-top: 25px;
}
.footer-col-2 {
    flex: 1;
    text-align: center;
}
.footer-col-2 img {
    width: 150px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}
.app-logo {
    margin-top: 25px;
    
}
.app-logo img {
    width: 150px;
}
.footer hr {
    border-style: dashed;
    margin: 20px 5px 0 0;
    
}
.copyright {
    text-align: center;
}