# JWT secret key
JWT_SECRET=

# Stripe secret key
STRIPE_SECRET=

# Database URL
DATABASE_URL=

# Database username
DB_USERNAME=

# Database password
DB_PASSWORD=

# Port number
PORT=

# Resend key
RESEND_API_KEY=

# Email address
ADMIN_EMAIL=