# JWT secret key
JWT_SECRET=

# Stripe secret key
STRIPE_SECRET=

# Database URL
DATABASE_URL=

# Database username
DB_USERNAME=postgres

# Database password
DB_PASSWORD=

# Port number
PORT=

# Your Email Address
spring.mail.username=${MAIL_USERNAME}

# Email Password
spring.mail.password=${MAIL_PASSWORD}